@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h3{
    font-family: 'Bonheur Royale', cursive;
    padding: 6px 3px;
    text-align: center;
    font-size: 25px;
}
p{
    font-family: 'Roboto', sans-serif;
}